---
import Layout from '@/layouts/Layout.astro';
import LearnBanner from '@/components/sections/LearnBanner.astro';
import LearnCalltoAction from '@/components/sections/LearnCalltoAction.astro';
import { categories } from '@/lib/data/categories';
---

<Layout title={'Learning Center'} image={'todo'} description={'todo'}>
  <style lang="scss">
    @use '@/styles/base.scss';

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-md);

      .cat-wrapper {
        padding: var(--space-sm);
        a {
          color: var(--platinum-body);
          text-decoration: none;
        }

        .heading {
          font-size: var(--text-md);
          font-weight: bold;
          margin-bottom: var(--space-sm);
          width: 100%;
        }
      }

      @media (min-width: base.$lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-xl);
        .cat-wrapper {
          padding: var(--space-sm);
          a {
            color: var(--platinum-body);
            text-decoration: none;
          }

          .heading {
            font-size: var(--text-md);
            font-weight: bold;
            margin-bottom: var(--space-sm);
            width: 100%;
          }
        }
      }
    }

    h1 {
      margin-top: 0;
    }

    h2 {
      margin-top: var(--space-xl);
    }
  </style>

  <!-- <PageHeader title={postIndex.data.title} /> -->
  <section>
    <div class="container">
      <div class="heading">
        <h1>Categories</h1>
        <p>Looking for something specfic?</p>
        <p>try searcihng</p>
        <!-- implement the search feature todo -->
      </div>
    </div>
  </section>
  <!--  TODO: change name from banner to navigation and mke sure it's a11y -->
  <LearnBanner />
  <section>
    <div class="container">
      <div class="wrapper">
        {
          //a map of categories
          categories.map((item) => (
            <div class="cat-wrapper">
              <a href={'/learn/categories/' + item.path}>
                <div class="heading">{item.name}</div>
              </a>
              <div class="description">{item.description}</div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <LearnCalltoAction />
</Layout>
