---
/* leaving this for now becuase later we might want
 * associated posts for each tool
 */
//------------------------------------------------------------------------
/// import SmallPosts from '@/components/SmallPosts.astro';/
// import { getCollection } from 'astro:content';
//
// const all_posts = await getCollection('learn');
//
// // sort posts by date
// all_posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
//
// const page_count = Math.ceil(all_posts.length / 6);
//
// const topPosts = all_posts.slice(0, 4);
// const first_page_posts = all_posts.slice(4, 10);

// ----------------------------------------------------------------------

import Layout from '@/layouts/Layout.astro';
import LearnBanner from '@/components/sections/LearnBanner.astro';
import LearnCalltoAction from '@/components/sections/LearnCalltoAction.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title={'Learning Center'} image={'todo'} description={'todo'}>
  <section>
    <div class="container">
      <div class="heading">
        <p class="sub-heading"></p>
        <h1>Mortgage Tools</h1>
        <p>Build completely in house prioritizing functionality and usefulness.</p>
      </div>
    </div>
  </section>
  <LearnBanner title="Looking for something else?" />
  <div class="container">
    <div class="calc-wrapper">
      <a class="silent" href="/tools/mortgage-calculator ">
        <div class="calc-card">
          <Icon class="calc-icon" name="ic:twotone-percent" />
          <div class="heading">Mortgage Calculator</div>
        </div>
      </a>
      <a class="silent" href="/tools/mortgage-terms">
        <div class="calc-card">
          <Icon class="calc-icon" name="ic:twotone-book" />
          <div class="heading">Glossary of Mortgage Terms</div>
        </div>
      </a>
      <p>More coming soon!</p>
    </div>
  </div>
  <LearnCalltoAction />
</Layout>

<style lang="scss">
  @use '@/styles/base.scss';

  section {
  }
  .grid {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
  }

  .calc-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
    background: var(--platinum-200);
    border-radius: 4px;
    font-size: var(--text-md);

    .calc-icon {
      height: var(--space-xl);
      width: var(--space-xl);
      margin-bottom: var(--space-md);
    }
  }

  .calc-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-lg);
    margin: var(--space-sm) 0;
    order: -1;
    @media (min-width: base.$lg) {
      display: flex;
      flex-wrap: auto;
      gap: var(--space-lg);
    }
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-top: var(--space-xl);
  }

  @media (min-width: base.$lg) {
    .heading {
      font-size: var(--text-base-size);
    }

    .calc-card {
      text-align: center;
      width: 12rem;
      height: 10rem;
    }

    .calc-wrapper {
      margin: var(--space-xl) 0;
    }
  }
</style>
