---

/*  This is the pagination route for /learn/page
 *
*/

import Pagination from '@/components/Pagination.astro';
import Layout from '@/layouts/Layout.astro';
import LearnBanner from '@/components/sections/LearnBanner.astro';
import LearnCalltoAction from '@/components/sections/LearnCalltoAction.astro';
import SmallPosts from '@/components/SmallPosts.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
  const pages = await getCollection('learn');
  return paginate(pages, { pageSize: 6 });
}

const { page } = Astro.props;
---

<Layout title={'Learning Center'} image={'todo'} description={'todo'}>
  <!--  TODO: make a search box-->
  <!--  TODO: change name from banner to navigation and mke sure it's a11y -->
  <div class="learn-grid">
    <SmallPosts posts={page.data} />
    <Pagination data={page} />
    <div class="nav-wrapper">
      <LearnBanner />
    </div>
    <LearnCalltoAction />
  </div>
</Layout>

<style lang="scss">
  @use '@/styles/base.scss';

  .learn-grid {
    @media (min-width: base.$lg) {
      display: grid;
      grid-template-columns: 1fr;

      .nav-wrapper {
        order: -1;
      }
    }
  }

  h1 {
    margin-top: 0;
  }

  .heading {
    @media (min-width: base.$lg) {
      max-width: 50%;
    }
  }
</style>
