---
import Pagination from "@/components/Pagination.astro";

import Layout from "@/layouts/Layout.astro";

import PostSidebar from "@/components/PostSidebar.astro";
import { getCollection } from "astro:content";

const BLOG_FOLDER = "blog";


const posts = await getCollection('blog')

---

<Layout title={"Blog"} image={""} description={"the khl blog"}>
  <style lang="scss">
    .blog-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
    }

    .side-bar {
      display: flex;
      flex-direction: col;
      position: fixed;
      background: red;
      border: 1px solid blue;
    }
  </style>

  <!-- <PageHeader title={postIndex.data.title} /> -->
  <section class="section">
    <div class="container">
      <div class="blog-wrapper">
        <!-- blog posts -->
        <div class="blog posts">
          <div class="row">
            {
              posts.map((post) => <div>{post.id}</div>
              )
            }
          </div>
        </div>

      </div>
    </div>
  </section>
</Layout>
