---
import Layout from '@/layouts/Layout.astro';

import PageHeader from '@/components/PageHeader.astro';
---

<Layout
  title={''}
  description="A collection of the authors responsible for writing content on Kasey Home Loans."
  image="todo: add image collage of authors"
>
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center"></div>
    </div>
  </section>
</Layout>
