// TODO: idk what this file even is now.
//should we move hte size and spacing to the common file?
//should this be renamed to size?

$sm: 640px; // phone
$md: 768px; //tablets?
$lg: 1024px; //idk
$xl: 1280px; //desktop
$xxl: 1536px; //larger than desktop

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent >0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

:root {
  // spacing
  --space: 1rem;
  --space-xxs: calc(0.25 * var(--space));
  --space-xs: calc(0.5 * var(--space));
  --space-sm: calc(0.75 * var(--space));
  --space-md: calc(1.5 * var(--space));
  --space-lg: calc(2 * var(--space));
  --space-xl: calc(4 * var(--space));
  --space-xxl: calc(6 * var(--space));
}
