$sm: 640px; // phone
$md: 768px; //tablets?
$lg: 1024px; //idk
$xl: 1280px; //desktop
$xxl: 1536px; //big ass computers over this size

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent >0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

:root {

  // spacing
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.5 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(4 * var(--space-unit));
  --space-xxl: calc(6 * var(--space-unit));

  //colors
  --light-green: #e6f4f1;
  --green: #0F5257; //midnight green

  --light-blue: #e0f1ff;
  --dark-blue: #43486E;
  --blue: #376EB1; //amex blue

  --dark-blue: #1C2352;
  --rose: #9C92A3; //rose quartz
  --thistle: #C6B9CD; //thistle
  --lavender: #D6D3F0; //lavender

  --light-grey: #f4f4f4;
  --mid-grey: #A3ABBD;
  --grey: #696e7a;

  --ink: #444;
  --paper: #ffffff;
  --background-color: #FFFFFF;
  --link-color: #005fb9;

  //set colors todo: shouldn't we put this in a color place? or
  //maybe all the vars should be in the body tag in the layout.

  //this looks awfuly like a colors file

  body {
    color: var(--ink);
    background-color: var(--paper);
  }

  .joke-wrapper {
    a {
      text-decoration: underline;
      color: var(--link-color)
    }
  }
}
