:root {
  /*idk*/
  --yellow: #fff2c5;

  /* blue */
  --blue: #2589bd;
  --blue-100: #cfe8f6;
  --blue-200: #a0d1ec;
  --blue-300: #70bbe3;
  --blue-400: #40a4d9;
  --blue-500: #2589bd;
  --blue-600: #1e6c96;
  --blue-700: #165170;
  --blue-800: #0f364b;
  --blue-900: #071b25;

  /* teal */
  --teal: #187795;
  --teal-100: #c5eaf6;
  --teal-200: #8bd6ec;
  --teal-300: #51c1e3;
  --teal-400: #22a7cf;
  --teal-500: #187795;
  --teal-600: #136077;
  --teal-700: #0f4859;
  --teal-800: #0a303c;
  --teal-900: #05181e;

  /* Caribbean Current */
  --green: #38686a;
  --green-100: #d2e6e7;
  --green-200: #a4cecf;
  --green-300: #77b5b7;
  --green-400: #509698;
  --green-500: #38686a;
  --green-600: #2d5456;
  --green-700: #223f40;
  --green-800: #172a2b;
  --green-900: #0b1515;

  /* Ash Gray */
  --ash: #a3b4a2;
  --ash-100: #edf0ec;
  --ash-200: #dae1da;
  --ash-300: #c8d2c7;
  --ash-400: #b5c3b4;
  --ash-500: #a3b4a2;
  --ash-600: #7d967c;
  --ash-700: #5c725b;
  --ash-800: #3e4c3d;
  --ash-900: #1f261e;

  /* Dun */
  --dun: #cdc6ae;
  --dun-100: #f5f3ef;
  --dun-200: #ebe8de;
  --dun-300: #e1dcce;
  --dun-400: #d7d1bd;
  --dun-500: #cdc6ae;
  --dun-600: #b0a47e;
  --dun-700: #8c8056;
  --dun-800: #5e5539;
  --dun-900: #2f2b1d;

  /* grey */
  --grey: #596869;
  --grey-100: #dde2e2;
  --grey-200: #bbc4c5;
  --grey-300: #99a7a8;
  --grey-400: #76898b;
  --grey-500: #596869;
  --grey-600: #475354;
  --grey-700: #353e3f;
  --grey-800: #24292a;
  --grey-900: #121515;

  /* platinum */
  --platinum: #d5dadc;
  --platinum-100: #f7f8f8;
  --platinum-200: #eef0f1;
  --platinum-300: #e6e9ea;
  --platinum-400: #dee2e3;
  --platinum-500: #d5dadc;
  --platinum-600: #a6b1b5;
  --platinum-700: #77878d;
  --platinum-800: #4f5a5f;
  --platinum-font: #454e53;
  --platinum-900: #272d2f;
}
