@use 'base.scss';

// section style
//colors

section {
  margin: var(--space-xl) 0;

  // for the styleguide page to show the section colors
  &.display {
    min-height: 20vh;
  }

  &.green {
    background: var(--light-green);
  }

  &.blue {
    background: var(--light-blue);
  }

  &.grey {
    background: var(--light-grey)
  }

  &.dark-blue {
    background: var(--dark-blue)
  }

}

// container
.container {
  max-width: $xl;
  padding: 0 5%;
  margin: 0 auto;

  @media (max-width:$md) {
    padding: 0 3%;
  }
}


hr {
  border: none;
  height: 1px
}

hr.light {
  background: #d1d1d1;

}
