@use 'base.scss';

header {
  white-space: nowrap;
  padding: var(--space-md) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $lg) {
    display: flex;
    flex-direction: column;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);

  @media (max-width:$lg) {
    display: block;
    flex-direction: column;

  }
}

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (min-width:$lg) {
    width: auto;
  }

}

.hamburger {
  display: block;

  @media (min-width: $lg) {
    display: none
  }

}


.menu-items {
  position: relative;
  width: 100%;
  gap: 1rem;

  @media (min-width:$lg) {
    display: flex;
    width: auto;
  }

}

.menu-items.hidden {
  @media (min-width:$lg) {
    display: flex
  }
}



ul.nav-link-container {
  padding: 0;
  margin: var(--space-md) 0;

  a,
  li,
  button {
    color: var(--ink);
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;

  }

  @media (max-width: $lg) {
    li {
      margin: .5rem 0rem;
    }
  }
}

//call to action button
.nav-cta {


  @media (max-width: $lg) {
    margin-top: 1rem;
  }

}



.dropdown-container {
  font-size: var(--text-sm);
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: var(--paper);

  // for big daddy screens
  @media (min-width: $lg) {
    display: flex;
    width: auto;
    margin: var(--space-md) -20rem;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    border-radius: 3px;
    position: absolute;
    background: var(--paper);
  }

  .nav-link {
    padding: var(--space-xxs) 0rem;
    color: var(--ink);

    &:hover {
      text-decoration: underline;
    }
  }
}

//todo while testing on the drop down menu make sure to uncomment later
.hidden {
  display: none;
}


.nav-link-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;

  @media (min-width:$lg) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 3rem;

  }

}
