@use './base.scss';


:root {
  //for body
  --font-body: system-ui;
  //for heading
  --font-heading: system-ui;

  /* set base values */
  --text-base-size: 1.25em;
  --text-scale-ratio: 1.20;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) ** 2));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * pow(var(--text-scale-ratio), 2));
  --text-xl: calc(1em * pow(var(--text-scale-ratio), 3));
  --text-xxl: calc(1em * pow(var(--text-scale-ratio), 4));
  --text-xxxl: calc(1em * pow(var(--text-scale-ratio), 5));

  /* line-height */
  --heading-line-height: 1em;
  --body-line-height: 1.6em;

  @media (max-width:base.$lg) {
    --text-base-size: 1.1875em;
  }

  @media (max-width:base.$md) {
    --text-base-size: 1.125em;
  }


}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-body);

}

h1,
h2,
h3,
h4,
form legend {
  font-family: var(--font-heading);
  margin-bottom: var(--space-xxs);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xl);
  line-height: 1.1em;

  @media (min-width:base.$lg) {
    font-size: var(--text-xxl);
  }
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}


b,
strong {
  font-weight: bold;
}

.text-container {

  h2,
  h3,
  h4 {
    margin-top: var(--space-sm);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-md);
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    line-height: var(--body-line-height);
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }
}

/* utility classes */
.truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
