@use "./base.scss";

// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  //for body
  --font-body: Libre Franklin, -apple-system, BlinkMacSystemFont, Roboto, Droid Sans, Helvetica, Arial, sans-serif;
  //for heading
  --font-heading: Libre Franklin, -apple-system, BlinkMacSystemFont, Roboto, Droid Sans, Helvetica, Arial, sans-serif;

  /* set base values */
  --text-base-size: 1.25rem;
  --text-scale-ratio: 1.3;

  /* type scale */
  --text-xs: calc(var(--text-base-size) / pow(var(--text-scale-ratio), 2));
  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-base-size) * pow(var(--text-scale-ratio), 2));
  --text-xl: calc(var(--text-base-size) * pow(var(--text-scale-ratio), 3));
  --text-xxl: calc(var(--text-base-size) * pow(var(--text-scale-ratio), 4));
  --text-xxxl: calc(var(--text-base-size) * pow(var(--text-scale-ratio), 5));

  /* line-height */
  --heading-line-height: 1;
  --body-line-height: 1.6;

  @media (max-width: base.$lg) {
    --text-base-size: 1.1875rem;
  }

  @media (max-width: base.$md) {
    --text-base-size: 1.125rem;
  }

  @media (max-width: base.$sm) {
    //setting this to have less drastic typography in mobile
    --text-scale-ratio: 1.15;
  }
}

//body font size
body {
  font-size: var(--text-base-size);
  font-family: var(--font-body);
  color: var(--platinum-font);
}

h1,
h2,
h3,
h4,
form legend {
  font-family: var(--font-heading);
  margin-bottom: var(--space-xxs);

  &.after {
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 3rem;
      background-color: #000;
      margin: 1rem auto 0;
    }
  }

  &.before {
    &::before {
      content: "";
      display: block;
      height: 5px;
      width: 3rem;
      background-color: var(--ash-700);
      margin-bottom: 0.5rem;
    }
  }
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
  line-height: 1.1;
}

h2,
.text--xl {
  font-size: var(--text-xl);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-lg)
}

h3,
.text--lg {
  font-size: var(--text-lg);
  margin-top: var(--space-xl)
}

h4,
.text--md {
  font-size: var(--text-md);
  margin-top: var(--space-xl)
}

//small text
.text--sm,
{
font-size: var(--text-sm);
margin-top: var(--space-xl)
}

//tiny text
.text--xs {
  font-size: var(--text-xs);
  margin-top: var(--space-xl)
}

p {
  line-height: var(--body-line-height);
}

b,
strong {
  font-weight: bold;
}
