---
//
---

<style lang="scss">
  @use '../../styles/_base.scss';

  section {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  .contents {
    padding: var(--space-md);
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
  }
</style>

<section class="blue">
  <div class="container">
    <div class="contents">Ask about our exclusive <i>First Time Home Buyer</i> program</div>
  </div>
</section>
