---
//init

import { Image } from 'astro:assets';
import hero_image from '../../assets/images/family.jpg';
---

<style lang="scss">
  @use '../../styles/_base.scss';

  .grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);

    @media (max-width: base.$lg) {
      grid-template-columns: 1fr;
    }

    .hero-content {
      h1 {
        font-weight: bold;
        text-wrap: balance;
        margin: 0;
        padding: 0;
      }

      .subtitle {
        margin-top: var(--space-lg);
      }
    }
  }
  //todo fix the image alt tag
  .hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 400px;
    overflow: hidden;
    width: auto;

    @media (max-width: base.$lg) {
      display: flex;
    }
  }

  .hero-image {
    max-height: 100%;
    object-fit: contain;
  }
</style>

<section>
  <div class="container">
    <div class="grid">
      <div class="hero-content">
        <p class="sub-heading">Our Commitment</p>
        <h1>A Reliable & Transparent Home Buying Partner</h1>
        <p class="subtitle">Benefit from our exclusive wholesale pricing and highly experienced mortgage advisors.</p>
      </div>
      <div class="hero-image-wrapper">
        <Image class="hero-image" src={hero_image} height={600} alt="test" />
      </div>
    </div>
  </div>
</section>
