---
//
---

<style lang="scss">
  @use '../../styles/_base.scss';

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-md);

    .button-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
    }

    @media (min-width: base.$lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap:var(--space-xxl);
      margin: var(--space-xl) 0;
      justify-content: center;
      align-items: center;

      .button-wrapper {
        display: flex;
        flex-direction: row;
      }
    }
  }
</style>

<section class="grey">
  <div class="container">
    <div class="grid">
      <div class="cta-content">
        <p class="sub-heading">100% <u>Free</u> and no obligation</p>
        <h2>Get started on your path to the perfect mortgage.</h2>
        <p class="sub-title">Apply online to receive <u>same day</u> expert advice, rates and programs.</p>
      </div>
      <div class="cta-buttons">
        <div class="button-wrapper">
          <a href="/" class="btn">Show Me Purchase Options</a>
          <a href="/" class="btn">Work On My Current Home </a>
        </div>
      </div>
    </div>
  </div>
</section>
