---
//
---

<style lang="scss">
  @use '../../styles/_base.scss';

  .heading {
    font-size: var(--text-xl);
    margin-bottom: var(--space-sm);

    @media (min-width: base.$lg) {
      display: none;
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xxs);
    white-space: nowrap;
    justify-content: center;

    a {
      gap: 0;
      margin: var(--space-xxs);
    }

    @media (min-width: base.$lg) {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(5, 1fr);
      gap: var(--space-md);
      justify-content: center;
      align-items: center;
      font-size: var(--text-sm);
    }
  }

  a {
    color: var(--grey);
    border: solid 1px var(--grey);
    text-decoration: none;
  }
</style>

<div class="container">
  <h2 class="heading">Explore:</h2>
  <div class="wrapper">
    <a class="btn-secondary">First Time Home Buyers</a>
    <a class="btn-secondary">Market Updates</a>
    <a class="btn-secondary">Home Buying Guides</a>
    <a class="btn-secondary">Browse All Tags</a>
    <a class="btn-secondary">Browse All Categories</a>
  </div>
</div>
