---
//

const { title, subtitle } = Astro.props;
---

<div class="container">
  <h2 class="heading">{title ? title : 'Explore'}</h2>
  <p>{subtitle ? subtitle : 'Explore more articles, guides and tools for home buying.'}</p>
  <div class="wrapper">
    <a href="/learn/categories" class="btn-secondary">Browse All Categories</a>
    <a href="/learn/categories/mortgage-basics" class="btn-secondary">First Time Home Buyers</a>
    <a href="/learn/categories/local-market-insights" class="btn-secondary">Local Market Insights</a>
    <a href="/learn/categories/mortgage-rates-and-trends" class="btn-secondary">Market Updates</a>
    <a href="/calculators" class="btn-secondary">Calculators & Tools</a>
  </div>
</div>
<style lang="scss">
  @use '@/styles/base.scss';

  .heading {
    font-size: var(--text-xl);
    margin-bottom: var(--space-sm);
  }

  //desktop
  @media (min-width: base.$lg) {
    .heading,
    p {
      display: none;
    }
  }

  .wrapper {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: var(--space-xs);
    white-space: nowrap;
    justify-content: space-between;

    a {
      gap: 0;
      border: none;
      border-radius: 2px;
      color: var(--platinum-800);
      background: var(--platinum-200);
      text-decoration: none;
    }

    @media (min-width: base.$md) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      font-size: var(--text-sm);
      margin-top: var(--space-lg);
      margin-bottom: 0;
    }

    @media (min-width: base.$lg) {
      grid-template-columns: repeat(5, 1fr);
      gap: var(--space-md);
      justify-content: space-between;
      font-size: var(--text-sm);
      margin-top: var(--space-lg);
      margin-bottom: 0;
    }
  }
</style>
