---
//
---

<style lang="scss">
  @use '../../styles/_base.scss';

  section {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-sm);
  }

  .contents {
    padding: var(--space-md);
    justify-content: center;
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    gap: var(--space-md);
    justify-content: center;
    font-size: var(--text-sm);

    @media (max-width: base.$lg) {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin: 0;
      padding: 0;
      justify-content: center;

      a {
        gap: 0;
        margin: var(--space-xxs);
      }
    }
  }

  .extra-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
  }

  a {
    color: var(--grey);
    border: solid 1px var(--grey);
    text-decoration: none;

    &.small {
      margin-top: var(--space-sm);
      text-decoration: none;
      border: none;
      font-size: var(--text-sm);
      white-space: nowrap;
    }
  }
</style>

<section class="blue">
  <div class="container">
    <div class="contents">
      <div class="heading">Explore by Topic</div>
    </div>
  </div>
</section>
<div class="wrapper">
  <a class="btn-secondary">First Time Home Buyers</a>
  <a class="btn-secondary">Market Updates</a>
  <a class="btn-secondary">Home Buying Guides</a>
</div>
<div class="extra-wrapper">
  <a class="small" href="/learn/categories">Browse All Home Categories</a>
  <a class="small" href="/learn/tags">Browse all Tags</a>
</div>
