---
//

const { subHead, title, description, buttonText } = Astro.props;
---

<style lang="scss">
  @use '@/styles/base.scss';

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-md);

    h2 {
      font-weight: bold;
      font-size: var(--text-xl);
      margin-top: var(--space-xs);
    }

    p {
      font-size: var(--text);

      margin-top: var(--space-md);
      &.sub-heading {
        font-weight: bold;
      }
    }
  }

  .button-wrapper {
    margin-top: var(--space-md);
    display: flex;
  }
</style>

<section class="grey">
  <div class="wrapper">
    <div class="sub-heading" set:html={subHead ? subHead : '100% <u>Free</u> and no obligation'} />
    <h2 set:html={title ? title : 'Get started on the home buying process today.'} />
    <p
      set:html={description
        ? description
        : 'Apply online to receive <u>same day</u> expert advice, rates and programs.'}
    />
    <div class="button-wrapper">
      <a href="/" class="btn">{buttonText ? buttonText : 'Request More Info'}</a>
    </div>
  </div>
</section>
