---
import type { lazy } from 'astro/zod';
import Slider from '../svelte/review_slider.svelte';
//not a huge fan of the naming of "slider". move into this one.
// I kno we're already using svelte but could we do this in pure js?
---

<style lang="scss">
  @use '../../styles/_base.scss';

  h2 {
    margin: 0rem;
    padding: 0rem;
  }

  p {
    font-size: var(--text);
  }

  .testimonial {
    font-size: var(--text-xl);
  }

  .author {
    margin-top: var(--space-sm);
  }

  .heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--space-md);
  }

  section {
    padding: var(--space-md) 0;
  }
</style>

<section>
  <div class="container">
    <div class="heading">
      <div class="sub-heading">Testimonials</div>
      <h2>See what our clients say</h2>
    </div>
    <Slider client:visible />
  </div>
</section>
