---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Oh no!" description="" image="">
  <section>
    <div class="container">
      <span>404</span>
      <h1>Page not found</h1>
      <div>
        <p>If you clicked a link to get to this page, we're working on it! Check back soon</p>
      </div>
      <a href="/">Back to home</a>
    </div>
  </section>
</Layout>
