---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const pages = await getCollection("pages");
    return pages.map((page) => ({
        params: { page: page.slug },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title="test" description="test" image="test">
    <div class="container">
        <Content />
    </div>
</Layout>
