---
//
import Layout from '@/layouts/Layout.astro';
import ContactForm from '@/components/svelte/ContactForm.svelte';
import { Icon } from 'astro-icon/components';
---

<!-- Cal inline embed code begins -->
<script type="text/javascript">
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement('script')).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          typeof namespace === 'string' ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, 'http://calendar.khl.zone/embed/embed.js', 'init');
  Cal('init', { origin: 'http://calendar.khl.zone' });

  Cal('inline', {
    elementOrSelector: '#my-cal-inline',
    calLink: 'aaron/15min',
    layout: 'month_view',
  });

  Cal('ui', {
    theme: 'light',
    styles: { branding: { brandColor: '#000000' } },
    hideEventTypeDetails: false,
    layout: 'month_view',
  });
</script>

<!-- Cal inline embed code ends -->
<Layout title="conact us" description="a contact page todo" image="none">
  <section>
    <div class="container">
      <div class="grid">
        <div class="contact-details">
          <h1>Contact</h1>
          <div class="contact-item">
            <Icon class="icon" name="openmoji:e-mail" />
            <div>info@kaseyhomeloans.com</div>
          </div>
          <div class="contact-item">
            <Icon class="icon" name="openmoji:mobile-phone" />
            <div>+1 (480) 685-5869</div>
          </div>
          <div class="contact-item">
            <Icon class="icon" name="openmoji:location-indicator-red" />
            <div>7550 E McDonald Dr, Ste E Scottsdale Arizona 85250</div>
          </div>
        </div>
        <div class="contact-form">
          <!-- <ContactForm client:load /> -->
          <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use '../styles/base.scss';

  .grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: base.$lg) {
      grid-template-columns: 1fr 2fr;
    }
  }

  .contact-item {
    margin: var(--space-md) 0;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .icon {
    margin-right: var(--space-sm);
    width: 40px;
    height: 40px;
  }

  .contact-details {
    margin-bottom: var(--space-lg);
  }
</style>
