---
import ImageMod from "@/components/ImageMod.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
---

<Layout
  title="Mortgages, Home Loans & Refinancing"
  image_path=""
  description="Discover your path to homeownership with Kasey Home Loans. Our expert mortgage professionals provide tailored solutions to secure your dream home. Explore competitive rates, personalized guidance, and hassle-free financing options today."
>
  <section class="primary">
    <div class="container">
      <Hero />
    </div>
  </section>
</Layout>
