---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';

const image =
  'https://mewrbxpdgfpnxptptase.supabase.co/storage/v1/object/public/public_assets/315717615_10227815401986142_7451416810739390195_n.jpg';

console.timeEnd();
---

<Layout
  title="Mortgages, Home Loans & Refinancing"
  image=""
  description="Discover your path to homeownership with Kasey Home Loans. Our expert mortgage professionals provide tailored solutions to secure your dream home. Explore competitive rates, personalized guidance, and hassle-free financing options today."
>
  <div class="heading-wrapper compressed container"></div>
  <Image height={300} width={300} src={image} format="webp" alt="" />
</Layout>
