---
import Dropdown from '@/components/navbar/Dropdown.astro';
import DropdownItems from './DropdownItems.astro';
import { Icon } from 'astro-icon/components';
---

<li>
  <Dropdown>
    <button>
      <span>Company</span>
      <!-- <Icon name="ic:round-keyboard-arrow-down" class="drop-icon" /> -->
    </button>
    <DropdownItems class:list={['dropdown-container']}>
      <div class="dropdown-grid">
        <div class="dropdown-grid-item">
          <div class="heading-wrapper">
            <div class="icon-wrapper">
              <Icon class="icon" name="ic:twotone-business" />
            </div>
            <div class="heading">
              <h3>About | Kasey Home Loans</h3>
              <p>Structured for efficiency</p>
            </div>
          </div>
          <hr />

          <div class="links">
            <ul>
              <li class="title">Company</li>
              <li><a class="list" href="/about">About</a></li>
              <li><a class="list" href="/faq">FAQs</a></li>
              <li><a class="list" href="/contact">Contact</a></li>
              <!-- <li><a class="list" href="/partner">Partner with Us</a></li> -->
            </ul>

            <ul>
              <li class="title">Compliance</li>
              <li><a class="list" href="/licensing">Licensing</a></li>
              <li><a class="list" href="/privacy-policy">Privacy Policy</a></li>
              <li><a class="list" href="/technology">Technology</a></li>
            </ul>
          </div>
        </div>
        <div class="dropdown-grid-item right">
          <ul>
            <li>
              <Icon class="icon" name="openmoji:facebook" />
              <a rel="nofollow" href=""><span>Facebook</span></a>
            </li>
            <li>
              <Icon class="icon" name="openmoji:twitter" />
              <a rel="nofollow" href=""><span>Twitter</span></a>
            </li>
            <li>
              <Icon class="icon" name="openmoji:youtube" />
              <a rel="nofollow" href=""><span>Youtube</span></a>
            </li>
          </ul>
        </div>
      </div>
    </DropdownItems>
  </Dropdown>
</li>
