---
import Dropdown from '@/components/navbar/Dropdown.astro';
import DropdownItems from './DropdownItems.astro';
import { Icon } from 'astro-icon/components';
---

<li>
  <Dropdown>
    <button>
      <span>Tools & Education</span>
      <!-- <Icon name="ic:round-keyboard-arrow-down" class="drop-icon" /> -->
    </button>
    <DropdownItems class:list={['dropdown-container']}>
      <div class="dropdown-grid">
        <div class="dropdown-grid-item">
          <div class="links">
            <ul>
              <li class="title">Resources</li>
              <li><a class="list" href="/learn">Learning Center</a></li>
              <li><a class="list" href="/guides">Home Buying Guides</a></li>
            </ul>

            <ul>
              <li class="title">Tools</li>
              <li><a class="list" href="/calculators">Calculators</a></li>
              <li><a class="list" href="/privacy-policy">Property Tools</a></li>
              <li><a class="list" href="/technology"></a></li>
            </ul>
          </div>
        </div>
        <div class="dropdown-grid-item right">
          <ul>
            <li>
              <!-- todo make sure you check rel=nofollow-->
              <Icon class="icon" name="ic:twotone-house" />
              <a href="">First time home buyers guide</a>
            </li>
            <li>
              <Icon class="icon" name="ic:twotone-percent" />
              <a href="">How to shop mortgage rates?</a>
            </li>
          </ul>
        </div>
      </div>
    </DropdownItems>
  </Dropdown>
</li>
