---
import CompanyDropDown from '@/components/navbar/CompanyDropDown.astro';
import LearnDropDown from '@/components/navbar/LearnDropDown.astro';
import Astronav from '@/components/navbar/Astronav.astro';
import MenuItems from '@/components/navbar/MenuItems.astro';
import Hamburger from '@/components/navbar/Hamburger.astro';
import Logo from '../Logo.astro';
---

<style lang="scss">
  a {
    text-decoration: none;
    &.btn {
      color: white;
    }
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
</style>

<div class="container">
  <header>
    <Astronav>
      <div class="nav-bar">
        <a href="/" class=""><Logo /></a>
        <Hamburger class="hamburger" />
      </div>
      <MenuItems class="menu-items hidden">
        <div class="nav-wrapper">
          <ul class="nav-link-container">
            <CompanyDropDown />
            <LearnDropDown />
          </ul>
          <div class="nav-cta">
            <!-- todo add correct lin -->
            <a href="/" class="btn">Request Quote</a>
          </div>
        </div>
      </MenuItems>
    </Astronav>
  </header>
</div>
