---
import Dropdown from './dropdown_menu.astro';
import Astronav from '@/components/navbar/Astronav.astro';
import MenuItems from '@/components/navbar/MenuItems.astro';
import Hamburger from '@/components/navbar/Hamburger.astro';
import { menu_links } from '@/lib/data/menu.json';
import Logo from '../Logo.astro';
---

<div class="container">
  <header>
    <Astronav>
      <div class="nav-bar">
        <a href="/" class=""><Logo /></a>
        <Hamburger class="hamburger" />
      </div>
      <MenuItems class="menu-items hidden">
        <div class="nav-wrapper">
          <ul class="nav-link-container">
            {
              menu_links.map((item) => (
                <>
                  {item.children && <Dropdown title={item.name} children={item.children} />}

                  {!item.children && (
                    <li>
                      <a href={item.url} class="nav-link">
                        <span> {item.name}</span>
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
          <div class="nav-cta">
            <!-- todo add correct lin -->
            <a href="/" class="btn">Get More Info</a>
          </div>
        </div>
      </MenuItems>
    </Astronav>
  </header>
</div>
