---
import title from 'title';
const paths = Astro.url.pathname.split('/').filter((x) => x);

let parts = [
  {
    text: 'Home',
    href: '/',
    current: Astro.url.pathname === '/' ? 'page' : undefined,
  },
];

paths.forEach((text, i) => {
  const href = `/${paths.slice(0, i + 1).join('/')}`;
  parts.push({
    text: title(text.replace(/[-_]/g, ' ')),
    href,
    current: Astro.url.pathname === href ? 'page' : undefined,
  });
});
---

<div class="container">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol class="breadcrumbs" role="list">
      {
        parts.map(({ text, href, current }) => (
          <li class="breadcrumb" role="listitem">
            {current ? (
              <a href={href} aria-current="page">
                {text}
              </a>
            ) : (
              <a href={href}>{text}</a>
            )}
          </li>
        ))
      }
    </ol>
  </nav>
</div>

<style lang="scss">
  a {
    color: var(--platinum-700);
  }
  nav.breadcrumb {
    margin: var(--space-lg) 0;
    font-size: var(--text-sm);
  }

  nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  nav.breadcrumb li {
    display: inline;
  }

  nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 var(--space-sm);
    content: '→';
  }

  nav.breadcrumb [aria-current='page'] {
    font-weight: 500;
    text-decoration: none;
  }
</style>
