---
import { faqs } from '../lib/data/faq.tsx';
import Accordion from '@/components/svelte/Accordion.svelte';
import SideNote from '@/components/SideNote.astro';
---

<h2>(Un)Frequently Asked Questions</h2>

<p>
  In alignment with our commitment to transparency we've tried to answer any questions that might be awkward to ask.
</p>

<SideNote type="note">
  <p>
    We understand that everyone says the same bologna and this industry is notoriously misleading. We take a lot of
    pride in our knowledge, commitment to transparency, and high level client service.
  </p>
</SideNote>
<div>
  {
    faqs.map((entry) => (
      <Accordion title={entry.title} client:load>
        <div set:html={entry.content} />
      </Accordion>
    ))
  }
</div>
