---
//todo make sure links are updated correctly to pages
import Logo from './Logo.astro';
const footerData = {
  links: [
    {
      title: 'Kasey Home Loans',
      links: [
        { text: 'Buy a Home', href: '#' },
        { text: 'Refinance', href: '#' },
        { text: 'FAQs', href: '#' },
        { text: 'Loan Options', href: '#' },
        { text: 'Rates', href: '#' },
        { text: 'Refinance', href: '#' },
      ],
    },
    {
      title: 'About',
      links: [
        { text: 'About Us', href: '#' },
        { text: 'Licensing', href: '#' },
        { text: 'Privacy Policy', href: '#' },
        { text: 'Technology', href: '#' },
        { text: 'Texas Compliance Notice', href: '#' },
      ],
    },
    {
      title: 'Support',
      links: [
        { text: 'Documentation', href: '#' },
        { text: 'Talk To Us', href: '#' },
      ],
    },
  ],
  socialLinks: [
    { ariaLabel: 'X', icon: 'tabler:brand-x', href: '#' },
    { ariaLabel: 'Instagram', icon: 'tabler:brand-instagram', href: '#' },
    { ariaLabel: 'Facebook', icon: 'tabler:brand-facebook', href: '#' },
    { ariaLabel: 'RSS', icon: 'tabler:rss', href: '/rss.xml' },
    {
      ariaLabel: 'Github',
      icon: 'tabler:brand-github',
      href: 'https://github.com/aaronjconway',
    },
  ],
  footNote: `
  `,
};

//todo add in social links and kasey home loans llc.
const { links } = footerData;
---

<style lang="scss">
  footer {
    a {
      color: inherit;
      text-decoration: inherit;
    }

    ul {
      padding-left: 0;
      li {
        list-style: none;
        padding: var(--space-xxs) 0;
        color: var(--grey);
        font-size: var(--text-sm);
        &:hover {
          color: var(--grey-700);
          text-decoration: underline;
        }
      }
    }
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-xl);
    padding: var(--space-xl) 0;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    font-size: var(--text-sm);
    color: var(--grey);
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: nowrap;
  }

  .logo {
    margin-bottom: var(--space-md);

    @media (min-width: 1024px) {
      grid-column: span 1;
    }
  }

  .address {
    margin: var(--space-md) 0;
    font-size: var(--text-sm);
  }

  .address-text {
    display: block;
    color: var(--grey);
  }

  hr {
    margin-top: var(--space-md);
    background: var(--mid-grey);
    height: 1px;
  }
</style>

<footer>
  <div class="container">
    <hr />
    <div class="footer-content">
      <div class="footer-column logo">
        <div class="logo">
          <Logo />
          <hr />
        </div>
        <div class="contact-info">
          <a href="tel:4806855869">Phone: +1 (480) 685-5869</a>
          <a href="mail:info@kaseyhomeloans.com">Email: info@kaseyhomeloans.com</a>
        </div>

        <div class="address">
          <span class="address-text">7550 E McDonald Dr</span>
          <span class="address-text">Ste E</span>
          <span class="address-text">Scottsdale, AZ 85250</span>
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="footer-column">
            <div class="title"> {title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul>
                {links.map(({ text, href }) => (
                  <li class="footer-link">
                    <a href={href}>{text}</a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
  </div>
</footer>
