<div class="logo">
  <span class="title">Kasey Home Loans</span>
  <span class="subtitle">Powered By Nexa Mortgage</span>
</div>

<style lang="scss">
  .logo {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-direction: column;
  }

  .title {
    font-size: var(--text-md);
    font-weight: bold;
    color: var(--ink);
  }

  .subtitle {
    font-size: 0.85em;
    line-height: 1em;
    color: var(--mid-grey);
  }
</style>
