<div class="logo">
  <span class="title">Kasey Home Loans</span>
  <span class="subtitle">Powered By Nexa Mortgage</span>
</div>

<style lang="scss">
  .logo {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-direction: column;
  }

  .title {
    font-size: var(--text-md);
    font-weight: bold;
    color: var(--platinum-800);
  }

  .subtitle {
    font-size: calc(var(--text-md) * 0.7);
    line-height: 1;
    color: var(--platinum-600);
  }
</style>
