<div class="logo">
  <span class="title text-slate-900">Kasey Home Loans</span>
  <span class="subtitle text-slate-400">Powered By Nexa Mortgage</span>
</div>

<style>
  .logo {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-direction: column;
  }

  .title {
    font-size: 1.25em;
  }

  .subtitle {
    font-size: 0.85em;
    line-height: 1em;
  }
</style>
