---
//todo get a better breadcrum from astro-kaseyhomeloans
import Breadcrumbs from '@/components/Breadcrumbs.astro';

const { title = '' }: { title?: string } = Astro.props;
---

<section>
  <div class="container">
    <div class="">
      <h2>{title}</h2>
      <Breadcrumbs className="" />
    </div>
  </div>
</section>
