---
const { data, page_count } = Astro.props;

let isFirstPage: Boolean = false;
//handle if there is no data aka we are on the first page

if (!data) {
  isFirstPage = true;
}
---

<style lang="scss">
  @use '@/styles/base.scss';

  //mobile
  .page-button-nav {
    text-decoration: none;
    font-size: var(--text-sm);
    display: flex;
    border-radius: 3px;
    height: var(--space-sm);
    justify-content: center;
    align-items: center;
    padding: var(--space-xs);
    margin: var(--space-xs);
    background-color: var(--platinum-200);

    &:hover {
      background-color: var(--platinum-500);
    }
  }

  .pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //desktop
  @media (min-width: base.$lg) {
    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: var(--space-md);
    }
    .page-button {
      text-decoration: none;
      display: flex;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      height: var(--space-sm);
      width: var(--space-sm);
      padding: var(--space-xs);
      margin: var(--space-xs);
      background-color: var(--platinum-200);

      &:hover {
        background-color: var(--platinum-500);
      }

      //for prev and next
      &-nav {
        text-decoration: none;
        font-size: var(--text-sm);
        display: flex;
        border-radius: 3px;
        height: var(--space-sm);
        justify-content: center;
        align-items: center;
        padding: var(--space-xs);
        margin: var(--space-xs);
        background-color: var(--platinum-200);

        &:hover {
          background-color: var(--platinum-500);
        }
      }
    }

    .current {
      background: var(--platinum-500);
    }
  }
</style>

<div class="pagination-wrapper">
  {
    isFirstPage ? (
      <>
        <a class="page-button-nav disabled"> Previous </a>
        <div class="page-button-nav">{'1/' + page_count}</div>
        <a class="page-button-nav" href={'/learn/2'}>
          Next
        </a>
      </>
    ) : (
      <>
        <a class="page-button-nav" href={data.url.prev}>
          Previous
        </a>
        <div class="page-button-nav">{data.currentPage + '/' + data.lastPage}</div>
        <a class="page-button-nav" href={data.url.next}>
          Next
        </a>
      </>
    )
  }

  <!-- // <a class="page-button-nav disabled"> Previous </a>
// test
//  <a class="page-button-nav" href={'/learn/2'}> Next </a> :
//   <a class="page-button-nav" href={data.url.prev}> Previous </a> {data.currentpage + '/' + data.lastPage} <a class="page-button-nav" href={data.url.next}> Next </a> } </div> -->
</div>
