---
const { data } = Astro.props;
const { title, image, date, author, categories } = data.data;
---

<style>
  .wrapper {
    border: 1px solid;
  }
</style>

<div class="wrapper">
  <span>
    {image}
  </span>
  <span>
    {title}
  </span>
  <span>
    {date}
  </span>
</div>
