---
const { data } = Astro.props;

/*
 * The Word tag here is used becuase it used to be called a tag.
 * I've changed this to categories and removed tags.
 * leaving the word tag becuase it still kinda is.
 */

//TODO: move this to the utils.js
//takes a name, lowercases and replaces spaces for hypens
function convertToHref(str: string) {
  str = str.toLowerCase();
  str = str.replace(/ /g, '-');
  return str;
}
---

<style lang="scss">
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: var(--space-sm);
    margin: var(--space-sm) 0;
  }

  a.tag {
    font-weight: 500;
    padding: var(--space-xs) var(--space-sm);
    color: var(--blue-600);
    display: flex;
    text-align: center;
    font-size: var(--text-xs);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--platinum-200);
    border-radius: 4px;
    cursor: pointer;
    transition: all 200ms ease;
    white-space: nowrap;

    &:hover {
      filter: brightness(90%);
    }
  }
</style>

<div class="wrapper">
  {
    data.map((tag: string) => (
      <a class="tag" href={'/learn/categories/' + convertToHref(tag)}>
        {tag}
      </a>
    ))
  }
</div>
