<style lang="scss">
  @use '../styles/_base.scss';

  .value-wrapper {
    display: flex;
    flex-wrap: wrap;

    padding: var(--space-md);

    .value {
      margin: var(--space-md);
      border: 1px solid var(--border-grey);

      .heading {
        font-size: var(--text-lg);
      }
    }
  }
</style>

<div class="value-wrapper">
  <div class="value">
    <div class="heading">Transparency</div>
    <div class="content">Aliquam erat volutpat.</div>
  </div>
  <div class="value">
    <div class="heading">Transparency</div>
    <div class="content">Aliquam erat volutpat.</div>
  </div>
  <div class="value">
    <div class="heading">Transparency</div>
    <div class="content">Aliquam erat volutpat.</div>
  </div>
  <div class="value">
    <div class="heading">Transparency</div>
    <div class="content">Aliquam erat volutpat.</div>
  </div>
</div>
